<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    @*<div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/Content/img/AnhDaiDien.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">Nguyễn Thị Trà Mi</a>
            <a href="#" class="d-block">2210900041</a>
            <a href="#" class="d-block">K22CNT4</a>
        </div>
    </div>*@

    <!-- SidebarSearch Form -->
    @* <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>*@

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false"><li class="nav-item">
                <a href="/NttmAdmin/NttmCategory/NttmIndex" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Danh Mục
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/NttmAdmin/NttmNew/NttmIndex" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt "></i>
                    <p>
                        Tin Tức
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/NttmAdmin/NttmPosts/NttmIndex" class="nav-link">
                    <i class="nav-icon fas fa-solid fa-comment"></i>
                    <p>
                        Bài Viết
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/NttmAdmin/NttmOrder/NttmIndex" class="nav-link">
                    <i class="nav-icon fas fa-solid fa-shopping-cart"></i>
                    <p>
                        Đơn Hàng
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/NttmAdmin/Statistical/Index" class="nav-link">
                    <i class="nav-icon fas fa-solid fa-tv"></i>
                    <p>
                        Doanh thu
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-solid fa-print"></i>
                    <p>
                        Quản lý sản phẩm
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/NttmAdmin/NttmProductCategory/NttmIndex" class="nav-link">
                            <i class="fas fa-chevron-circle-right nav-icon"></i>
                            <p>Danh mục sản phẩm</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/NttmAdmin/NttmProduct/NttmIndex" class="nav-link">
                            <i class="fas fa-chevron-circle-right nav-icon"></i>
                            <p>Sản phẩm</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="/NttmAdmin/NttmSettingSystem/Index" class="nav-link">
                    <i class="nav-icon fas fa-solid fa-cog"></i>
                    <p>
                        Cấu hình hệ thống
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/NttmAdmin/NttmRole" class="nav-link">
                    <i class="nav-icon fas fa-paperclip"></i>
                    <p>
                        Role
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/NttmAdmin/Account/Index" class="nav-link">
                    <i class="nav-icon fas fa-solid fa-address-book"></i>
                    <p>
                        Tài khoản
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:document.getElementById('logOffForm').submit()"  class="nav-link">
                    <i class="nav-icon fas fa-solid fa-share"></i>
                    <p>
                        Đăng xuất
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->

@if (Request.IsAuthenticated)
{
    <div style="display:none">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logOffForm" }))
        {
            @Html.AntiForgeryToken()}
    </div>}