@model IEnumerable<K22CNT4_TTCD1_NguyenThiTraMi.Models.EF.NttmProduct>

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<div class="container news_section_container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-news">Kết quả tìm kiếm</h1>
        </div>
        <hr/>
    </div>
</div>

